*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3{
  font-size: 24px;
  margin-bottom: 30px;
}

.mont{
  font-family: Montserrat, sans-serif;
}

.lato{
  font-family: Lato, sans-serif;
}

.bg-jade{
  background-color: #18BC9C;
}

.bg-grey{
  background-color: #2C3E50;
}

.white{
  color: white;
}

.jade{
  color: #18BC9C;
}

.grey{
  color: #2C3E50;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end{
  justify-content: flex-end;
}

.flex-start{
  justify-content: flex-start;
}

.col{
  flex-direction: column;
}

.row{
  flex-direction: row;
}
