a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

li{
  list-style: none;
}

/** header & nav**/
header{
  top: 0;
  width: 100%;
  position: fixed;
  font-family: Montserrat, sans-serif;
}

.nav{
  width: 100%;
  height: 70px;
  justify-content: space-between;
}

.active{
  height: 100px;
}

.active-nav{
  color: #fff;
  background: #18BC9C;
}

.menu{
  padding: 15px 10px;
}

.menu-left{
  width: 300px;
  margin-left: 100px;
}

.menu-right{
  display: inline-flex;
  width: 300px;
  margin-right: 100px;
  justify-content: space-between;
}

/** section portadan start bootstrap **/
.m-top{
  margin-top: 70px;
}

.p-top-bot{
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-main{
  font-family: Montserrat, sans-serif;
  font-size: 67px;
  font-weight: bold;
}

.line{
  width: 100px;
  border: 3px solid;
}

.line-start{
  width: auto;
  justify-content: center;
}

.subtitle{
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 25px;
}

/** section portfolio **/
.images{
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-items{
  width: 360px;
  height: 260px;
  margin-bottom: 32px;
}

/** Modal **/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}

.modal-image {
    width: 55%;
    border: 10px solid white;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    text-shadow: 1px 1px rgba(8, 8, 8, 0.15);
    font-size: 67px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #fff;
    cursor: pointer;
}

/** section about **/
.about{
  width: 56%;
  justify-content: space-between;
}

.text-col{
  font-family: Lato,sans-serif;
  font-size: 20px;
  width: 360px;
}

.bt-div{
  width: 200px;
  margin-top: 35px;
}

.download{
  font-family: Lato,sans-serif;
  font-size: 20px;
  font-weight: normal;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}

.download:hover{
  background-color: white;
  color: #18BC9C;
}

/** section contact me **/
.contact{
  width: 780px;

}

.form-contact{
  width: 100%;
}

.box-input{
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0 15px 7px 15px;
}

.form-control{
  width: 100%;
  height: 70px;
  padding: 6px 0;
  border: 0;
  outline: none;
  font-family: Lato, sans-serif;
  font-size: 21px;
}

.form-control::-webkit-input-placeholder { color: rgba(#555, 0.86); font-weight :normal; }


label {
  margin-bottom: 5px;
  color: #18BC9C;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  position: absolute;
  font-weight: 300;
  top: -6px;
  left: 0;
}

.label-active { /*Al dar click de activa la clase active disminuirá el tamaño de la fuente*/
  top: 0px;
  font-size: 10px;
  line-height: 12px;
  color: #bfc7d9;
}

.bt-send{
  color: white;
  background-color: #18BC9C;
  border: 0;
  border-radius: 6px;
  padding: 10px 16px;
  margin-top: 15px;
  font-size: 18px;
}

/** footer **/
.footer{
  padding-top: 50px;
}

.f-items{
  text-align: center;
  width: 360px;
  color: white;
}

.f-text{
  font-family: Lato, sans-serif;
  font-size: 20px;
  text-align: center;
  white-space: pre-line;
}

/** boton redes sociales **/
.footer{
  justify-content: space-around;
  padding-bottom: 60px;
}

.bt-social{
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 100%;
  padding: 10px;
}

.inline>li{
  display: inline-flex;
  margin: 0 6px;
}

/* footer below*/
.f-below{
  width: 100%;
  height: 70px;
  background-color: #233140;
}
